{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}


{% get_providers as socialaccount_providers %}


<section class="auth">
	<div class="login-container">
		<div>
			
			<div class="block2">
				<h1 class="title-container">{% trans "Sign In" %}</h1>
				<form class="signup" id="signup_form" method="post" action="{% url 'account_login' %}">
					{% csrf_token %}
				
					{{ form.as_p}}
					{% if redirect_field_value %}
						<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
					{% endif %}
					<button class="button primaryAction login-button" type="submit">{% trans "Sign In" %}</button>
					<div class="have_account options-under">
						
						<p >{% trans "Ainda não tem conta?" %}
						<a href="{{ signup_url }}">{% trans "Cadastre-se" %}</a></p>
					</div>
					
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}
