*{
    margin: 0;
    padding: 0;
}
:root{
    --colorPrimary: #EF4B4B;
    --colorWhite: #FFFFFF;
    --colorBlack: #000000;
    --colorMidGray: #F1F1F0;
    --colorBox: #353539;
    --colorBoxHover: #2c2c30;

    --fontPrimary: Arial;
    --fontMidSize: 20px;
    --fontLargeSize: 38px;
    --fontExtraLarge: 54px;
    --fontExtraExtraLarge: 65px;
}
.auth{
    display: flex;
    justify-content: space-around;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 1000px) {
    .login_block1{
        display: none !important;
    }
 
}   
@media (max-width: 500px) {
    .block2{
        width: 240px !important;
    }
}  
html{
    background-color: var(--colorMidGray);
}
.login_block1{
    background-color: var(--colorWhite);
}
.login_block1, .login_block2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 800px;
}
.login_block2{
    background-color: var(--colorBox);
}
.block1, .block2{
    display: block;
    padding: 20px 0px;
    width: 420px;
}

.block1 > h2{
    font-size: var(--fontLargeSize);
    color: var(--colorPrimary);
}
.block1 > h3, .block1 > a {
    color: var(--colorBlack);
    text-decoration: none;
    font-weight: 500;
}
.block1 > a {
    padding: 10px 7px;
    border: 1px solid rgba(0, 0, 0, 0.352);

}
.block1 > h2, .block1 > p, .block1 > a, .block1 > h3{
    margin-bottom: 20px;
}

.primaryAction{
    display: block;
    margin: auto;
}
.login_block2 div{
    
    background-color: var(--colorMidGray);
    margin: auto;
}
.socialaccount_ballot{
    position: relative;
    bottom: 30px;
    text-align: center;
}

.free_text{
    font-size: 100%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.172) !important;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px auto;
    padding: 35px;
    border: 1px solid rgba(0, 0, 0, 0.352);
    background-color: var(--colorWhite);
    width: 440px;
    
}
.free_text form button{
    display: block;
    margin: 15px auto 0px auto;
    padding: 8px 30px ;
    border: 1px solid rgba(0, 0, 0, 0.352);
    background-color: var(--colorMidGray);
}
.have_account{
    text-align: center;
}
.options-under a, .options-under p{
    margin-top: 5px;
}


.signup > p:last-of-type{
    display: none;
}

input[type="text"],input[type="password"],input[type="email"],
.signup > p input{

    padding: 13px 0px ;
    width: 100% !important;
    background-color: #D3D1D2;
}
.block2 form{
    width: 100%;
}
.have_account{
    text-align: center;
}
.login, .signup{
    padding: 30px;
}
.primaryAction{
    margin: 10px auto !important;
    display: block;
    padding: 6px 13px;
}
.button, .free_text form button{
    background-color: var(--colorWhite) ;
    border: 1px solid rgba(0, 0, 0, 0.352);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.172) !important;
}
.button:hover, .free_text form button:hover{
    background-color: var(--colorPrimary);
    color: var(--colorWhite);
    border: 1px solid var(--colorPrimary);
}