{% include 'writers/partials/head.html' %}
<body>
    <main class="main">
       {% include 'writers/partials/header.html' %}
        <form class="home-search" action="">
            <input type="search" name="home-searchbar" id="home-searchbar" placeholder="PESQUISAR">
        </form>
            <div class="main-home">
                <div class="home-menu">
                    {% for author in authors %}
                        <div class="home-menu-itens-authors">
                                <div class="itens-img-authors">
                                    {% if author.image %}
                                        <img src="{{author.image.url}}">
                                    {% endif %}
                                </div>
                                <div class="itens-info">                   
                                    <h2 class="itens-author-name">{{author.name}}</h2>
                                    <p class="itens-author-death">{{author.date_birth}}</p>
                                    <a href="{% url 'writers:author_detail' author.id %}" class="itens-more">Saiba mais sobre o poeta {{author.name}}</a>
                                </div>
                        </div>
                    {% endfor %}
                </div>
            </div>       
    </main>
</body>
</html>