{% include 'writers/partials/head.html' %}
<body>
    <main class="main">
       {% include 'writers/partials/header.html' %}
        <form class="home-search" action="{% url "writers:authors" %}" method="POST">
            {% csrf_token %}
            <input type="search" name="home-searchbar" id="home-searchbar" placeholder="PESQUISAR">
        </form>
            <div class="main-home">
                <div class="home-menu d-block">
                    {% for author in authors %}
                        <div class="home-menu-itens-authors">
                                <div class="itens-img-authors">
                                    {% if author.image %}
                                        <img src="{{author.image.url}}">
                                    {% endif %}
                                </div>
                                <div class="itens-info">                   
                                    <h2 class="itens-author-name">{{author.name}}</h2>
                                    <p class="itens-author-death">{{author.date_birth}}</p>
                                    <a href="{% url 'writers:author_detail' author.id %}" class="itens-more">Saiba mais sobre o poeta {{author.name}}</a>
                                </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="page-navigation">
                    <div>
                    <span class="current">
                        Página {{ authors.number }} de {{ authors.paginator.num_pages }}.
                    </span>
                    <div class="pagination-button">
                    {% if authors.has_previous %}
                        <a href="?page=1">Primeira Página</a>
                        <a href="?page={{ authors.previous_page_number }}">&le; Anterior</a>
                    {% endif %}
                       
                    {% if authors.has_next %}
                        <a class="pagination-next" href="?page={{ authors.next_page_number }}"> Próximo &ge;</a>
                        <a class="pagination-back" href="?page={{ authors.paginator.num_pages }}">Ultima Página</a>
                    {% endif %}                 
                </div>
            </div>       
    </main>
    {% include 'writers/partials/footer.html' %}
</body>
</html>