{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'writers/partials/head.html' %}
</head>
<body>
    {% include 'writers/partials/header.html' %}
    <section class="book">
        <div class="book-info">
            <div class="book-img">
                <img src="{{book.image.url}}" alt="book-img">
            </div>
            <div class="book-text-info">
                <h1><b>Título:</b> {{book.title|title}}</h1>
                <h1><b>Autor:</b> {{book.author.name}}</h1>
                <h1><b>N° de Páginas:</b> {{book.number_of_pages}}</h1>
                <h1><b>Tipo:</b> Livro Digital</h1>
                <h1><b>Formato:</b> Pdf</h1>
            </div>
        </div>
        <div class="book-info2">
            <div class="book-synopsis">
                <p>{{book.synopsis}}</p>
            </div>
            <a class="book-link" href="{{book.download}}" target="_blank">
                <img src="{% static "writers/images/download-button.svg" %}" alt="download">
            </a>
        </div>
        
    </section>
</body>
</html>