{% load static %}
{% include 'writers/partials/head.html' %}
<body>
    {% include 'writers/partials/header.html' %}
        <div class="main-author">
            <h2>Livros</h2>
        </div>
            <div class="main-home">
                <div class="home-book-filter">
                    <h3>Catálogo de Literatura</h3>
                    <select name="book-filter" id="book-filter">
                        <option value="" desable selected hidden >Ordenar por:</option>
                        <option value="1">Machado de Assis</option>
                    </select>
                </div>
            <div class="home-menu-book">
                {% for book in books %}
                    <a class="home-menu-itens-book">
                        <div class="itens-img-book">
                            <img src="{{book.image.url}}" alt="books-img">
                        </div>
                        <div class="itens-text-book">
                            <h1><strong>{{book.title}}</strong></h1>
                            <h2><strong>AUTHOR(A):</strong>{{book.author}}</h2>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </main>
    {% include 'writers/partials/footer.html' %}
</body>
</html>