<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Writers.blog</title>
    <link rel="stylesheet" href="../templates/css/styles.css">
    <script src="../templates/js/main.js"></script>
</head>
<body>
    <main class="main">
        <header>
            <div onclick="main()" class="header-left">
                <div class="header-logo">
                    <img src="../templates/images/header-logo.png" alt="header-logo">
                </div>
                <h1 class="header-text">
                    WRITERS
                </h1>
            </div>
            <a href="../pages/login.html" class="header-profile-img">
                <img src="../templates/images/profile-img.png" alt="profile-img">
            </a>
        </header>
        <div class="main-author">
            <h2>Livros</h2>
        </div>
            <div class="main-home">
                <div class="home-book-filter">
                    <h3>Catálogo de Literatura</h3>
                    <select name="book-filter" id="book-filter">
                        <option value="" desable selected hidden >Ordenar por:</option>
                        <option value="1"> Machado de Assis</option>
                    </select>
                </div>
            <div class="home-menu-book">
                <a class="home-menu-itens-book">
                    <div class="itens-img-book">
                        <img src="../templates/images/books/ahoradaestrela.jpeg" alt="books-img">
                    </div>
                    <div class="itens-text-book">
                        <h1><strong>A HORA DA ESTRELA</strong></h1>
                        <h2><strong>AUTHOR(A):</strong>Clarisse Lispector</h2>
                    </div>
                </a>
                <a class="home-menu-itens-book">
                    <div class="itens-img-book">
                        <img src="../templates/images/books/doncasmurro.jpeg" alt="poems-img">
                    </div>
                    <div class="itens-text-book">
                        <h1><strong>DOM CASMURRO</strong></h1>
                        <h2><strong>AUTHOR(A):</strong>Machado de Assis</h2>
                    </div>
                </a>
                <a href="../pages/authors.html" class="home-menu-itens-book">
                    <div class="itens-img-book">
                        <img src="../templates/images/books/ocortico.jpeg" alt="authors-img">
                    </div>
                    <div class="itens-text-book">
                        <h1><strong>O CORTIÇO</strong></h1>
                        <h2><strong>AUTHOR(A):</strong>Aluísio Azevedo</h2>
                    </div>
                </a>
                <a href="../pages/authors.html" class="home-menu-itens-book">
                    <div class="itens-img-book">
                        <img src="../templates/images/books/memorias.jpeg" alt="authors-img">
                    </div>
                    <div class="itens-text-book">
                        <h1><strong>MEMÓRIAS PÓSTUMAS DE BRÁS CUBAS</strong></h1>
                        <h2><strong>AUTHOR(A):</strong>Machado de Assis</h2>
                    </div>
                </a>
            </div>
        </div>
    </main>
</body>
</html>