{% load static %}
{% include 'writers/partials/head.html' %}
<body>
    <main class="main">
        {% include 'writers/partials/header.html' %}
        <form class="home-search" action="">
            <input type="search" name="home-searchbar" id="home-searchbar" placeholder="PESQUISAR">
        </form>
        <div class="main-home">
            <div class="home-menu">
                <a href="{% url 'writers:books' %}" class="home-menu-itens">
                    <div  class="itens-img">
                        <img src="{% static 'writers/images/books-img.png' %}" alt="books-img">
                    </div>
                    <p class="itens-text">
                        LIVROS
                    </p>
                </a>
                <a class="home-menu-itens">
                    <div class="itens-img">
                        <img src="{% static 'writers/images/poems-img.png' %}" alt="poems-img">
                    </div>
                    <p class="itens-text">
                        POEMAS
                    </p>
                </a>
                <a href="{% url 'writers:authors' %}" class="home-menu-itens">
                    <div class="itens-img">
                        <img src="{% static 'writers/images/authors-img2.png' %}" alt="authors-img">
                    </div>
                    <p class="itens-text">
                        AUTORES
                    </p>
                </a>
                <a href="" class="home-menu-itens">
                    <div class="itens-img">
                        <img src="{% static 'writers/images/favorite.svg' %}" alt="authors-img">
                    </div>
                    <p class="itens-text">
                        FAVORITOS
                    </p>
                </a>
            </div>
        </div>
    </main>
    {% include 'writers/partials/footer.html' %}
   
</body>
</html>