<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Writers.blog</title>
    <link rel="stylesheet" href="../templates/css/styles.css">
    <script src="../templates/js/main.js"></script>
</head>
<body class="login">
    <main class="main-login">
        <header>
            <a onclick="main()" class="header-left">
                <div  class="header-logo">
                    <img src="../templates/images/header-logo.png" alt="header-logo">
                </div>
                <h1 class="header-text">
                    WRITERS
                </h1>
            </a>
            <a href="" class="header-profile-img">
                <img src="../templates/images/profile-img.png" alt="profile-img">
            </a>
        </header>
        <div class="main-home-login">
            <div class="home-menu-login">
                <div class="login-container">
                    <div class="login-text">
                        <h1>Writers.blog</h1>
                        <p>Login</p>
                    </div>
                    <div class="input-wrapper">
                    <label for="nome">NOME:</label>
                    <input type="text" id="nome">
                    </div>
                    <div class="input-wrapper">
                    <label for="email">EMAIL:</label>
                    <input type="email" id="email">
                    </div>
                    <div class="input-wrapper">
                    <label for="senha">SENHA:</label>
                    <input type="password" id="senha">
                    </div>
                    <button class="login-button">Fazer Login</button>
                </div>   
            </div>           
        </div>
    </main>
</body>
</html>