<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Writers.blog</title>
    <link rel="stylesheet" href="../../templates/css/styles.css">
    <script src="../../templates/js/main.js"></script>
</head>
<body>
    <main class="main">
        <header>
            <a onclick="main()" class="header-left">
                <div  class="header-logo">
                    <img src="../../templates/images/header-logo.png" alt="header-logo">
                </div>
                <h1 class="header-text">
                    WRITERS
                </h1>
            </a>
            <a href="../login.html" class="header-profile-img">
                <img src="../../templates/images/profile-img.png" alt="profile-img">
            </a>
        </header>
        <div class="main-author">
            <h2>Carlos Dummond de Andrade</h2>
        </div>
            <div class="main-home-author">
                <div class="home-menu-authors'">
                    <div class="menu-authors">
                        <div class="info">
                            <div class="itens-info-about">                   
                                <h3 class="itens-author-who">Quem foi Calos Drummond de Andrade?</h3>
                                <p class="itens-author-about">Carlos Drummond de Andrade foi um poete, farmacêutico, contista e cronista brasileiro, considerado por muitos o mais influente poeta brasileiro do século XX.</p>
                            </div>
                            <div class="itens-info-death">                   
                                <h3 class="itens-author-who">Morte</h3>
                                <p class="itens-author-about">Morreu no dia 17 de agosto de 1987, no Rio de Janeiro, aos 84 anos, apenas 12 dias depois da morte de sua única filha Maria Julieta Drummond de Andrade.</p>
                            </div>
                        </div>
                        
                       <div class="poems">
                            
                            <div class="main-poems">
                                <h3>Poemas</h3>
                                <ul>
                                    <li>Congresso Internacional do Medo</li>
                                    <li>Assnhamento</li>
                                    <li>Sentimental</li>
                                </ul>
                            </div>
                            <div class="itens-img-authors">
                                <img src="../../templates/images/authors/carlos_drummond_de_andrade.jpg" alt="books-img">
                            </div>
                       </div>
                    </div>
                </div>
            </div>       
    </main>
</body>
</html>