{% load static %}
{% include 'writers/partials/head.html' %}
<body>
    <main class="main">
        {% include 'writers/partials/header.html' %}
        <div class="main-author">
            <h2>{{author.name}}</h2>
        </div>
            <div class="main-home-author">
                <div class="home-menu-authors'">
                    <div class="menu-authors">
                        <div class="info">
                            <div class="itens-info-about">                   
                                <h3 class="itens-author-who">Quem foi {{author.name}}?</h3>
                                <p class="itens-author-about">{{author.bio}}</p>
                            </div>
                            <div class="itens-info-death">                   
                                <h3 class="itens-author-who">Morte</h3>
                                <p class="itens-author-about">{{author.death}}</p>
                            </div>
                        </div>
                        
                       <div class="poems">
                        {% if poems_by_author %}
                            <div class="main-poems">
                                <h3>Poemas</h3>
                                <ul>
                                    {% for poem in poems_by_author %} 
                                    <li>
                                        <a class="text-decoration-none" href="{% url "writers:poem_detail" poem.id %}">{{poem.title}}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                            <div class="itens-img-authors">
                                {% if author.image %}
                                <img src="{{author.image.url}}">
                                {% endif %}                            </div>
                       </div>
                    </div>
                </div>
            </div>       
    </main>
</body>
</html>