<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Writers.blog</title>
    <link rel="stylesheet" href="../templates/css/styles.css">
</head>
<body>
    <main class="main">
        <header>
            <div class="header-left">
                <div class="header-logo">
                    <img src="../templates/images/header-logo.png" alt="header-logo">
                </div>
                <h1 class="header-text">
                    WRITERS
                </h1>
            </div>
            <div class="header-profile-img">
                <img src="../templates/images/profile-img.png" alt="profile-img">
            </div>
        </header>
        <form class="home-search" action="">
            <input type="search" name="home-searchbar" id="home-searchbar" placeholder="PESQUISAR">
        </form>
            <div class="main-home">
            <div class="home-menu">
                <a class="home-menu-itens">
                    <div class="itens-img">
                        <img src="../templates/images/books-img.png" alt="books-img">
                    </div>
                    <p class="itens-text">
                        LIVROS
                    </p>
                </a>
                <a class="home-menu-itens">
                    <div class="itens-img">
                        <img src="../templates/images/poems-img.png" alt="poems-img">
                    </div>
                    <p class="itens-text">
                        POEMAS
                    </p>
                </a>
                <a href="" class="home-menu-itens">
                    <div class="itens-img">
                        <img src="../templates/images/authors-img2.png" alt="authors-img">
                    </div>
                    <p class="itens-text">
                        AUTORES
                    </p>
                </a>
            </div>
        </div>

        
    </main>
</body>
</html>